:root {
    --brand-primary: #5400e5;
    --brand-primary-alt: hsla(262, 100%, 45%, 0.1);
    --cs-border: rgba(0, 0, 0, 0.03);
    --container-gutter: 140px;
    --container-width: 21.7cm;
    --text-secondary: #62666a;
    --section-title-color: hsl(207, 30%, 49%);
    --font-family-primary: Karla, Arial, sans-serif;
    --font-family-secondary: Barlow, Arial, sans-serif;
}

.container {
    padding-top: 1em;
}

.listBullteinBox {
    text-align: center;
    padding-top: 0.5em;
}

.voteTransperencissAnimate {
    position: relative;
    /* padding: 2em; */
}

.cardTitle {
    font-size: 1.2em;
    letter-spacing: 1em;
}

.card-text-center {
    margin: 0 auto;
}

.memberInfo {
    /* align-items: center; */
}

.candidate-img > img {
    max-width: 100%;
    margin-bottom: 2em;
    /* height: auto; */
}

.voteBlock {
    background-color: var(--cs-border);
    border-radius: 6px;
    border: black 1px solid;
    text-align: -webkit-center;
}

.voteTransperencissAnimate > img {
    max-width: 0%;
    max-height: 0%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    padding-top: 1em;
}

.candidateItems {
    text-align: left;
}

.candidateItemsTitle {
    text-align: center;
}

#oneYescancel, #oneNocancel, #oneWOcancel, #twoYescancel, #twoNocancel, #twoWOcancel, #threeYescancel, #threeNocancel, #threeWOcancel{
    display: none;
}